<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 offset-sm-2 col-sm-8">
        <%=simple_form_for [@cocktail] do |f| %>
          <%= f.input :name, label: "Cocktail Name" %>
          <%= f.input :image %>
          <%= f.input :image_cache, as: :hidden %>
          <%= f.submit "add cocktail", class: "btn btn-ghost border-dark rounded-lg"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>