<div class="show-container">
  <div class="show-image" style="background-image: url('<%=cl_image_path @cocktail.image %>')";>
  </div>
  <%#= image_tag ""%>
  <div class="card-description">
    <h4>
      <%= "Cocktail : #{@cocktail.name}" %>
    </h4>
    <h5>
      Ingredients :
    </h5>
    <p>
      <% @doses.each do |dose| %>
        <p>
          <%= "description: #{dose.description}" %>
        </p>
      <% end %>
    </p>
  </div>
  <div class="opt-container">
    <p>
      <%= link_to cocktail_path(@cocktail.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
        <i class="far fa-trash-alt"></i> <% end %> | <%=link_to new_cocktail_dose_path(@cocktail.id) do %>
        <i class="far fa-edit"></i>
      <% end %>
    </p>
  </div>
</div>
<!-- <p>
    <%=link_to "Homepage", cocktails_path%>
  </p> -->
<%# @doses.each do |dose| %>
  <%#= "name: #{@cocktail.name}" %>
  <%#= "description: #{dose.description}" %>
  <%# end %>